In [1]:
# import Libraries
# Built-in Python libraries
import os # functions for interacting w operating system

# 3rd-party libraries
import numpy as np # module for low-level scientific computing
import easygui
import pandas as pd
import itertools
import glob
from datetime import date

In [2]:
#Define a padding function
def boolean_indexing(v, fillval=np.nan):
    lens = np.array([len(item) for item in v])
    mask = lens[:,None] > np.arange(lens.max())
    out = np.full(mask.shape,fillval)
    out[mask] = np.concatenate(v)
    return out

In [3]:
file_path = easygui.diropenbox(msg = 'Choose a directory with lick data')
os.chdir(file_path)
for i in os.listdir():
    print(i)
    if 'txt' in i:
        text_file = i
file_name = os.path.join(file_path, text_file)

0723KM35_TEST1.ms8.txt
0723KM35_TEST1.pkl

In [4]:
file_input = open(file_name)

In [5]:
lines = file_input.readlines()
len(lines)

131

In [6]:
Detail_Dict = {'FileName': None,\
               'StartDate': None,\
               'StartTime': None,\
               'Animal': None,\
               'MAXFLick': None,\
               'Trials': None,\
               'LickDF': None,\
               'LatencyMatrix': None}

In [7]:
dick_backup = Detail_Dict.copy()

In [8]:
#Extract file name and store
Detail_Dict['FileName'] = file_name[file_name.rfind('/')+1:]

#Store details in dictionary and construct dataframe	
for i in range(len(lines)):
    if "Start Date" in lines[i]:
        Detail_Dict['StartDate'] = lines[i].split(',')[-1][:-1].strip()
    if "Start Time" in lines[i]:
        Detail_Dict['StartTime'] = lines[i].split(',')[-1][:-1]
    if "Animal ID" in lines[i]:
        Detail_Dict['Animal'] = lines[i].split(',')[-1][:-1]		
    if "Max Wait" in lines[i]:
        Detail_Dict['MAXFLick'] = lines[i].split(',')[-1][:-1]			
    if "Max Number" in lines[i]:
        Detail_Dict['Trials'] = lines[i].split(',')[-1][:-1]			
    if "PRESENTATION" and "TUBE" in lines[i]:		
        ID_line = i
    if len(lines[i].strip()) == 0:		
        Trial_data_stop = i		
        if ID_line > 0 and Trial_data_stop > 0:
            #Create dataframe
            df = pd.DataFrame(columns=lines[ID_line].split(','),\
                      data=[row.split(',') for row in \
                     lines[ID_line+1:Trial_data_stop]])
            
            #Remove spaces in column headers (caused by split)
            df.columns = df.columns.str.replace(' ', '')
            
            #Set concentrations to 0 if concentration column blank
            df['CONCENTRATION']=df['CONCENTRATION'].str.strip()
            df['CONCENTRATION'] = df['CONCENTRATION'].apply(lambda x: 0 if x == '' else x)

            #Convert specific columns to numeric
            df["SOLUTION"] = df["SOLUTION"].str.strip()
            df[["PRESENTATION","TUBE","CONCENTRATION","LICKS","Latency"]] = \
                df[["PRESENTATION","TUBE","CONCENTRATION","LICKS","Latency"]].apply(pd.to_numeric)
            
            #Add in identifier columns
            df.insert(loc=0, column='Animal', value=Detail_Dict['Animal'])
            df.insert(loc=3, column='Trial_num', value='')
            df['Trial_num'] = df.groupby('TUBE').cumcount()+1
            
            #Store in dataframe
            Detail_Dict['LickDF'] = df		
            
            #Grab all ILI data, pad with NaNs to make even matrix
            #Store in dictionary (TrialXILI count)
            Detail_Dict['LatencyMatrix'] = boolean_indexing([row.split(',')\
                                              for row in lines[Trial_data_stop+1:]])

In [14]:
# clean dataframe
# make column names all lower case
col_names = [i.lower() for i in df.columns]
df.columns = col_names
# drop unused column
df = df.drop('openerror', axis=1)
df = df.drop('closeerror\n', axis=1)
df.columns

Index(['animal', 'presentation', 'tube', 'trial_num', 'concentration',
       'solution', 'ipi', 'length', 'licks', 'latency', 'licks'],
      dtype='object')

In [15]:
# reading in ilis and save to dataframe
ilis = []
#lines_list = lines[Trial_data_stop+1:]
for i in range(Trial_data_stop+1, len(lines)):
    this_line = lines[i].split(',')[1:]
    num_line = [int(i) for i in this_line]
    ilis.append(num_line)
ilis[0]

[651, 656, 726, 130, 626, 138, 139, 131, 137, 136, 130, 126, 120, 130]

In [17]:
if np.max(df.presentation) == len(ilis):
    df['ilis'] = ilis
else:
    print('Something wrong with the itis reading! please check your text files')

In [25]:
df_name = Detail_Dict['Animal'].strip() + '_' + Detail_Dict['StartDate'].replace('/', '')
df.to_pickle(os.path.join(file_path, f"{df_name}.pkl"))

In [26]:
df

,animal,presentation,tube,trial_num,concentration,solution,ipi,length,licks,latency,licks,ilis
0,KM35,1,1,1,0,CITRIC_ACID,10,10,15,576,"[651, 656, 726, 130, 626, 138, 139, 131, 137, ...","[651, 656, 726, 130, 626, 138, 139, 131, 137, ..."
1,KM35,2,4,1,0,SUCROSE,10,10,21,7187,"[201, 412, 231, 320, 4106, 128, 128, 130, 128,...","[201, 412, 231, 320, 4106, 128, 128, 130, 128,..."
2,KM35,3,5,1,0,WATER,10,10,0,60000,[],[]
3,KM35,4,2,1,0,QHCL,10,10,17,23876,"[149, 129, 131, 146, 1046, 232, 61, 282, 86, 1...","[149, 129, 131, 146, 1046, 232, 61, 282, 86, 1..."
4,KM35,5,3,1,0,NACL,10,10,0,60000,[],[]
5,KM35,6,2,2,0,QHCL,10,10,0,60000,[],[]
6,KM35,7,4,2,0,SUCROSE,10,10,17,26765,"[392, 418, 123, 142, 152, 147, 121, 145, 3674,...","[392, 418, 123, 142, 152, 147, 121, 145, 3674,..."
7,KM35,8,5,2,0,WATER,10,10,0,60000,[],[]
8,KM35,9,3,2,0,NACL,10,10,88,29232,"[27, 96, 125, 128, 133, 110, 116, 130, 125, 37...","[27, 96, 125, 128, 133, 110, 116, 130, 125, 37..."
9,KM35,10,1,2,0,CITRIC_ACID,10,10,11,2231,"[251, 132, 3383, 146, 141, 130, 140, 126, 127,...","[251, 132, 3383, 146, 141, 130, 140, 126, 127,..."
10,KM35,11,5,3,0,WATER,10,10,55,36676,"[326, 158, 623, 185, 135, 484, 115, 798, 131, ...","[326, 158, 623, 185, 135, 484, 115, 798, 131, ..."
11,KM35,12,4,3,0,SUCROSE,10,10,0,60000,[],[]
12,KM35,13,3,3,0,NACL,10,10,74,9934,"[116, 121, 111, 129, 123, 131, 137, 132, 40, 9...","[116, 121, 111, 129, 123, 131, 137, 132, 40, 9..."
13,KM35,14,2,3,0,QHCL,10,10,7,359,"[59, 182, 1083, 142, 294, 727]","[59, 182, 1083, 142, 294, 727]"
14,KM35,15,1,3,0,CITRIC_ACID,10,10,6,2537,"[155, 261, 251, 131, 304]","[155, 261, 251, 131, 304]"
15,KM35,16,5,4,0,WATER,10,10,63,21755,"[131, 760, 129, 153, 134, 128, 140, 163, 152, ...","[131, 760, 129, 153, 134, 128, 140, 163, 152, ..."
16,KM35,17,4,4,0,SUCROSE,10,10,17,1116,"[160, 1192, 121, 3176, 133, 148, 1378, 129, 12...","[160, 1192, 121, 3176, 133, 148, 1378, 129, 12..."
17,KM35,18,2,4,0,QHCL,10,10,11,1912,"[2429, 12, 4513, 70, 110, 152, 279, 1743, 129,...","[2429, 12, 4513, 70, 110, 152, 279, 1743, 129,..."
18,KM35,19,3,4,0,NACL,10,10,68,42564,"[123, 143, 233, 257, 144, 116, 144, 125, 139, ...","[123, 143, 233, 257, 144, 116, 144, 125, 139, ..."
19,KM35,20,1,4,0,CITRIC_ACID,10,10,3,2598,"[4995, 4421]","[4995, 4421]"
20,KM35,21,2,5,0,QHCL,10,10,3,58387,"[1624, 110]","[1624, 110]"
21,KM35,22,4,5,0,SUCROSE,10,10,0,60000,[],[]
22,KM35,23,1,5,0,CITRIC_ACID,10,10,0,60000,[],[]
23,KM35,24,5,5,0,WATER,10,10,34,55254,"[4666, 645, 136, 113, 141, 114, 133, 109, 135,...","[4666, 645, 136, 113, 141, 114, 133, 109, 135,..."
24,KM35,25,3,5,0,NACL,10,10,0,60000,[],[]
25,KM35,26,2,6,0,QHCL,10,10,1,1948,[],[]
26,KM35,27,4,6,0,SUCROSE,10,10,0,60000,[],[]
27,KM35,28,1,6,0,CITRIC_ACID,10,10,0,60000,[],[]
28,KM35,29,3,6,0,NACL,10,10,68,41504,"[247, 360, 254, 139, 111, 140, 118, 124, 130, ...","[247, 360, 254, 139, 111, 140, 118, 124, 130, ..."
29,KM35,30,5,6,0,WATER,10,10,61,1002,"[377, 1134, 148, 144, 108, 147, 120, 140, 143,...","[377, 1134, 148, 144, 108, 147, 120, 140, 143,..."
30,KM35,31,3,7,0,NACL,10,10,62,5199,"[134, 113, 151, 1065, 138, 135, 134, 130, 56, ...","[134, 113, 151, 1065, 138, 135, 134, 130, 56, ..."
31,KM35,32,5,7,0,WATER,10,10,65,2107,"[137, 257, 161, 137, 128, 267, 120, 161, 111, ...","[137, 257, 161, 137, 128, 267, 120, 161, 111, ..."
32,KM35,33,4,7,0,SUCROSE,10,10,12,412,"[724, 127, 353, 1336, 1629, 250, 2342, 261, 40...","[724, 127, 353, 1336, 1629, 250, 2342, 261, 40..."
33,KM35,34,1,7,0,CITRIC_ACID,10,10,5,21565,"[152, 6402, 137, 1176]","[152, 6402, 137, 1176]"
34,KM35,35,2,7,0,QHCL,10,10,0,60000,[],[]
35,KM35,36,5,8,0,WATER,10,10,0,60000,[],[]
36,KM35,37,1,8,0,CITRIC_ACID,10,10,0,60000,[],[]
37,KM35,38,3,8,0,NACL,10,10,68,2021,"[198, 253, 142, 133, 122, 135, 36, 94, 147, 12...","[198, 253, 142, 133, 122, 135, 36, 94, 147, 12..."
38,KM35,39,2,8,0,QHCL,10,10,2,1985,[4697],[4697]
39,KM35,40,4,8,0,SUCROSE,10,10,26,1966,"[2687, 341, 902, 134, 149, 134, 131, 132, 680,...","[2687, 341, 902, 134, 149, 134, 131, 132, 680,..."
40,KM35,41,5,9,0,WATER,10,10,52,530,"[1649, 111, 125, 382, 882, 99, 139, 120, 276, ...","[1649, 111, 125, 382, 882, 99, 139, 120, 276, ..."
41,KM35,42,2,9,0,QHCL,10,10,1,1621,[],[]
42,KM35,43,4,9,0,SUCROSE,10,10,0,60000,[],[]
43,KM35,44,3,9,0,NACL,10,10,73,2296,"[130, 123, 121, 130, 136, 120, 126, 141, 106, ...","[130, 123, 121, 130, 136, 120, 126, 141, 106, ..."
44,KM35,45,1,9,0,CITRIC_ACID,10,10,0,60000,[],[]
45,KM35,46,3,10,0,NACL,10,10,65,3322,"[132, 133, 119, 236, 134, 147, 128, 163, 140, ...","[132, 133, 119, 236, 134, 147, 128, 163, 140, ..."
46,KM35,47,1,10,0,CITRIC_ACID,10,10,1,13136,[],[]
47,KM35,48,2,10,0,QHCL,10,10,18,36409,"[1248, 147, 127, 115, 273, 218, 494, 140, 147,...","[1248, 147, 127, 115, 273, 218, 494, 140, 147,..."
48,KM35,49,5,10,0,WATER,10,10,61,55301,"[950, 146, 146, 175, 271, 150, 138, 125, 144, ...","[950, 146, 146, 175, 271, 150, 138, 125, 144, ..."
49,KM35,50,4,10,0,SUCROSE,10,10,32,2896,"[780, 45, 309, 205, 551, 263, 754, 125, 136, 1...","[780, 45, 309, 205, 551, 263, 754, 125, 136, 1..."
50,KM35,51,5,11,0,WATER,10,10,60,2398,"[132, 122, 264, 399, 266, 155, 143, 105, 143, ...","[132, 122, 264, 399, 266, 155, 143, 105, 143, ..."
51,KM35,52,4,11,0,SUCROSE,10,10,18,11055,"[1536, 148, 141, 124, 142, 3975, 126, 125, 134...","[1536, 148, 141, 124, 142, 3975, 126, 125, 134..."
52,KM35,53,1,11,0,CITRIC_ACID,10,10,0,60000,[],[]
53,KM35,54,3,11,0,NACL,10,10,0,60000,[],[]
54,KM35,55,2,11,0,QHCL,10,10,0,60000,[],[]
55,KM35,56,5,12,0,WATER,10,10,67,28145,"[233, 135, 108, 138, 123, 130, 120, 135, 132, ...","[233, 135, 108, 138, 123, 130, 120, 135, 132, ..."
56,KM35,57,1,12,0,CITRIC_ACID,10,10,4,12273,"[863, 232, 29]","[863, 232, 29]"
57,KM35,58,4,12,0,SUCROSE,10,10,0,60000,[],[]
58,KM35,59,2,12,0,QHCL,10,10,0,60000,[],[]
59,KM35,60,3,12,0,NACL,10,10,70,41202,"[254, 122, 129, 128, 129, 119, 138, 132, 159, ...","[254, 122, 129, 128, 129, 119, 138, 132, 159, ..."